<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <mapping class="entity.Employe"/>
        <mapping class="entity.Entreprise"/>
        <mapping class="entity.Manager"/>
        <mapping class="entity.Personne"/>
        <mapping class="entity.Personneprojet"/>
        <mapping class="entity.PersonneprojetId"/>
        <mapping class="entity.Projet"/>

    </session-factory>

</hibernate-configuration>